@charset "utf-8";

section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 30px;
}
.ceu,
.link {
	border: 1px solid #005699;
	width: 49%;
	height: auto;
	padding: 20px;
}
.ceu p,
.link p {
	font-size: 15px;
}

.ceu .percent {
	position: relative;
	height: 20px;
	background-color: #B1B1B1;
	border: solid 1px #414141;
}
.percent span {
	position: absolute;
	top: 0;
	left: 0;
	width: 17%;
	height: 20px;
	background-color: #777777;
}
.link a {
	text-decoration: underline;
}
.ceu>div, .link ul {
	margin: 20px 0;
}
.link ul li {
	padding-bottom: 5px;
}
h2 {
	background: none;
	color: #333;
	padding: 0;
	margin-top: 40px;
}
table {
	margin-top: 20px;
	border: 1px solid #ddd;
}
table:first-of-type {
	margin-bottom: 5px;
}
table:last-child {
	margin-bottom: 50px;
}
tr {
	display: table-row!important;
	padding: 0!important;
	border: none;
}
th {
	text-align: center;
	padding: 14px;
	background: #005699;
	color: #fff;
}
td {
	text-align: center;
	padding: 14px;
}
td:first-child {
	text-align: left;
}
th,
td {
	border: 1px solid #ddd;
}
.ceu_jyokyo th, .ceu_jyokyo td  {
	width: 25%;
}
.ceu_jyokyo tr:first-child,
.ceu_jyokyo tr:nth-of-type(6){
	background: #eee;
}
.ceu_jyokyo tr:last-child {
	background: #005699;
	color: #fff;
}
.ceu_joho th {
	width: 10%;
}
.ceu_joho td {
	width: 10%;
	text-align: center;
}
.ceu_joho th:first-child, .ceu_joho td:first-child {
	width: 12%;	
}
.ceu_joho th:last-child, .ceu_joho td:last-child {
	width: 30%;
}
@media screen and (max-width: 768px){
	.pc-only {
		display: none;
	}
	section {
		display: block;
	}
	.ceu {
		margin-bottom: 20px;
	}
	.ceu,
	.link {
		width: 100%;
		padding: 10px;
	}
	.link ul {
		padding: 5px;
	}
	table {
		width: 100%;
	}
	thead {
		display: none;
	}
	tr {
		width: 100%;
	}
	td {
		display: block;
		text-align: right;
		width: 100%!important;
		height: 40px;
		padding: 8px;
	}
	td:first-child {
		background: #005699;
		color: #fff;
		font-weight: bold;
		text-align: center;
		border: none;
	}
	td:before {
		content: attr(data-label);
		float: left;
		font-weight: bold;
		margin-right: 10px;
	}
	.ceu_jyokyo tr:first-child,
	.ceu_jyokyo tr:nth-of-type(6){
		background: none;
	}
	.ceu_jyokyo tr:last-child {
		background: none;
		color: #333;
	}
}
@media screen and (max-width: 480px){
	section {
		display: block;
	}
	.ceu,
	.link {
		width: 100%;
	}
	.link {
		margin-top: 10px;
	}
}







