.bg_gray {
    padding: 20px;
	margin-bottom: 50px;
}
.bg_gray p:first-of-type {
    font-size: 16px;
    font-weight: bold;
    color: #005699;
    margin-bottom: 0.5em;
}
.bg_gray ul {
    padding: 0 10px;
}
.bg_gray ul li:before {
	content: "・";
	display: inline-block
		;text-indent: -1em;
}
.bg_gray ul li {
    padding-left: 1em;
	margin-bottom: 0.5em;
}
.bg_gray p:nth-of-type(2) {
    margin-top: 0.5em;
	padding-left: 1em;
    text-indent: -1em;
}
table:first-of-type {
	margin-bottom: 50px;
	border: 1px solid #ddd;
}
table:first-of-type tr {
    display: table-row!important;
	border: none;
}
table:first-of-type th {
	text-align: center;
	padding: 1em;
	background: #005699;
	color: #fff;
	width: auto;
}
table:first-of-type td {
	width: auto;
	text-align: center;
	padding: 1em
}
table:first-of-type th,
table:first-of-type td {
	border: 1px solid #ddd;
}
article {
	padding: 0 20px;
}
.kome {
	text-indent: -1em;
    padding-left: 1em;
    display: inline-block;
}
article textarea{
    border: 1px solid #005699;
    margin: 20px 0;
    padding: 20px;
	height: 500px;
}
article section {
	margin-top: 0!important;
}
section {
	margin-top: 50px;
}
.br_block {
	display: none;
}

@media screen and (max-width:860px) {
	.br_block {
		display: block;
	}
	.btn_gray {
		margin-bottom: 20px!important;
	}
}

@media screen and (max-width: 800px) {
	table {
		width: 100%;
	}
	thead {
		display: none;
	}
	table:first-of-type tr {
		width: 100%;
	}
	table:first-of-type td {
		display: block;
		text-align: left;
		width: 100%!important;
		height: auto;
	}
	table:first-of-type td:first-child {
		background: #005699;
		color: #fff;
		font-weight: bold;
		text-align: center;
		border: none;
	}
	table:first-of-type td:nth-of-type(4) {
		padding-left: 1em;
	}
	table:first-of-type td:before {
		content: attr(data-label);
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}
}

@media screen and (max-width:768px) {
	.btn_wrap button {
		margin-bottom: 10px;
	}	
}

@media screen and (max-width:480px) {
	.bg_gray {
		padding: 10px;
	}
	.bg_gray ul {
		padding: 0;
	}
	article {
		padding: 0;
	}
	article div {
		padding: 10px;
	}
}
