.sub {
    border: 1px solid #005699;
	color: #005699;
	text-align: center;
    padding: 2px 0;
    width: 7em;
	display: block;
	margin-bottom: 5px;
}
th {
    width: 100%;
	font-weight: normal;
	padding-right: 1em;
}
.button {
    width: 120px;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
    margin: 0!important;
	margin-right: 2em!important;
}
.btn {
	display: flex;
	justify-content: flex-end;
}
.btn .button:nth-of-type(2) {
	margin-right: 0!important;
}
@media screen and (max-width: 768px){
	tr {
		border-bottom: 1px solid #005699;
	}
	tr:last-child {
		border-bottom: none;
		margin-bottom: 60px;
	}
	th {
		display: table-cell;
		padding: 0;
		background: inherit;
		color: inherit;
	}
	td {
		margin: 30px 0;
	}
	table div:last-child {
		margin: 0 auto;
	}
	.btn {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-top: 10px;
	}
	.button {
		height: 45px;
		width: 100%;
		margin: 0 auto!important;
	}
    .btn .button:nth-of-type(2) {
        margin-top: 20px!important;
    }
}
@media screen and (max-width: 480px){
    .btn {
        width: 100%;
    }
}