header {
	position: fixed;
	z-index: 999;
}
header a:hover {
	border: none;
}
.logo_img {
    max-width: 1200px;
    margin: 0 auto;
}
.logo_img img {
    width: 180px;
    padding: 10px;
}
header ul {
	display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
header ul li ul {
	display: block;
}
header li {
	line-height: 45px;
	text-align: center;
	display: inline-block;
	width: 100%;
}
header a,
header .active {
	color: #333;
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	font-weight: bold;
}
header .active:hover {
	cursor: default;
}
header a:hover {
	color: #005699;
	text-decoration: none;
}
.dropdown_list {
	display: none;
}
.dropdown_list li {
    line-height: normal;
	width: 100%;
}
.dropdown_list a {
	color: #333;	
	display: block;
}
.dropdown_list li:last-child:after {
	border: none;
}
.underline::after {
	background-color: #FFFFFF;
	bottom: 0;
	content: '';
	display: block;
	height: 1px;
	left: 0;
	position: relative;
	transition: .5s all;
	width: 0;
	top: -15px;
}
.underline:hover::after {
	width: 100%;
}
.user_name {
	color: #333333;
}
.pc_none {
	display: none;
}

@media screen and (max-width: 850px){
	.sp_none {
		display: none;
	}
	.pc_none {
		display: block;
	}
	.logo_img img {
		padding: 0;
	}
	.inner {
		width: 980px;
		margin: 0 auto;
	}
	.inner:after {
		content: "";
		clear: both;
		display: block;
	}
	#header .inner {
		position: relative;
	}
	#header .logo {
		float: left;
		font-size: 36px;
	}
	#header.fixed .logo {
		font-size: 24px;
		color: #333;
	}
	#nav-toggle div {
		position: relative;
	}
	#nav-toggle:hover {
		cursor: pointer;
	}
	#nav-toggle span {
		display: block;
		position: absolute;
		height: 4px;
		width: 100%;
		background: #777;
		left: 0;
		-webkit-transition: .35s ease-in-out;
		-moz-transition: .35s ease-in-out;
		transition: .35s ease-in-out;
	}
	#nav-toggle span:nth-child(1) {
		top: 0;
	}
	#nav-toggle span:nth-child(2) {
		top: 11px;
	}
	#nav-toggle span:nth-child(3) {
		top: 22px;
	}
	.wrap {
		padding-top: 80px;
	}
	header {
		height: 77px;
	}
	header ul {
		display: block;
	}
	.logo_img {
		float: left;
	}
	#header,
    .inner {
        width: 100%;
        padding: 0;
    }
    #header {
        top: 0;
        position: fixed;
        margin-top: 0;
    }
    #header.fixed .logo,
    #header .logo {
        position: absolute;
        left: 13px;
        top: 13px;
        color: #555;
        font-size: 26px;
    }
	#nav-toggle {
		position: absolute;
		right: 12px;
		top: 18px;
		width: 37px;
		height: 36px;
		cursor: pointer;
		z-index: 101;
        display: block;
	}
	#nav-toggle p {
		color: #777;
		margin-top: 25px;
	}
   #global-nav {
		background: #005699;
		width: 100%;
		opacity: 0.9;
		position: absolute;
		top: 65px;
    }

    /* #nav-toggle 切り替えアニメーション */
    .open #nav-toggle span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(315deg);
        -moz-transform: rotate(315deg);
        transform: rotate(315deg);
    }
    .open #nav-toggle span:nth-child(2) {
        width: 0;
        left: 50%;
    }
    .open #nav-toggle span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-315deg);
        -moz-transform: rotate(-315deg);
        transform: rotate(-315deg);
    }
	.dropdown_list_sp {
		background: #fff;
	}
	.dropdown_list_sp a {
		background: #fff;
        color: #555!important;
		padding: 0;
		display: block;
	}
	.sp_nav {
		text-align: center;
	}
	.sp_nav a {
		padding: 0;
	}
	.sp_nav p {
		line-height: 40px;
	}
	.down{
		-ms-transform:rotate(180deg);
		-moz-transform:rotate(180deg);
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}
}

/*IEのみ*/
@media all and (-ms-high-contrast: none) {
	#nav-toggle {
		width: 40px;
	}
}

/*Androidのみ*/
@media screen and (max-width: 480px){
	.Android ul.nav.nav-tabs.step-anchor li span {
		height: 42px!important;
		line-height: 22px;
	}
}
.Android #nav-toggle p {
	letter-spacing: 1px;
	margin-right: -1px;
	text-align: center;
	margin-top: 28px;
}	
.Android #nav-toggle {
	width: 40px!important;
}

/*iPhoneのみ*/
.iPhone #nav-toggle p {
	text-align: center;
}
.iPhone #nav-toggle {
	width: 40px!important;
}
	
	
	