dt {
	background: #005699;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 8px 10px; 
	margin-top: 30px;
}
dd {
	padding: 10px 20px;
}
dd .button {
	width: auto;
    margin: 0 1em 0 0!important;
    display: inline-block!important;
    font-size: 13px;
    padding: 4px 10px;
    height: auto;
    line-height: inherit;
}
.chenge:hover {
	cursor: pointer;
}
dd label:nth-of-type(1) {
    margin-left: 4em;
}
dd div {
	margin-top: 1em;
}
.text {
    width: 80%;
    margin: 0 4em;
    margin-top: 30px;
}
.kiyaku {
	text-align: center;
	margin-bottom: 10px;
}
.kiyaku p {
	font-weight: bold;
}
.content {
	text-align: left;
	font-weight: normal!important;
}
.kiyaku_doi {
	text-align: center;
	margin-bottom: 60px;
}
.spb_arrows li:nth-of-type(1),
.spb_arrows li:nth-of-type(3),
.spb_arrows li:nth-of-type(4) {
    line-height: 3;
}
label {
	margin-right: 0!important;
}
@media screen and (max-width:768px) {
	select {
		width: 150px;
	}
	.sp_no {
		display: block;
	}
	dd {
		padding: 10px 0;
	}
}
@media screen and (max-width:480px) {
	.sp_no {
		display: none;
	}
	.required,
	.chenge {
		margin-bottom: 10px;
		width: 38px;
	}
	.text {
		width: 100%;
		margin-left: 0;
	}
	.any {
		display: block;
	}
	.spb_arrows li:nth-of-type(1),
	.spb_arrows li:nth-of-type(3),
	.spb_arrows li:nth-of-type(4) {
		line-height: inherit;
	}
}