@charset "utf-8";
header {
	display: none;
}

.content_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 10px 10px 100px;
}

.content {
	width: 300px;
}

.login_img {
	text-align: center;
	margin-bottom: 40px;
}

img {
	width: 300px;
}

input {
	display: block;
	width: 300px;
	height: 35px;
	margin: 15px auto;
	padding: 0 10px!important;
	-webkit-appearance: none;
}

button {
	margin-bottom: 10px!important;
}

.login_text p {
	text-align: center;
	font-size: 0.8rem;
}

.login_text span {
    padding: 0 0.6em;
}

input[type="password"] {
	width: 300px;
}

.error_ul {
	margin: 0 0 15px;
}


/*IEのみ*/

_:-ms-lang(x)::-ms-backdrop, input {
	padding-top: 0.3em!important;
}

@media all and (-ms-high-contrast: none) {

	.content_wrap {
		display: table-cell;
		margin: 0 auto;
		padding: 50px 10px;
		min-height: 100vh;
		vertical-align: middle;
		width: 100vw;
	}

	.content {

		width: 300px;
		margin: 0 auto;
	}

}
