header {
    display: none;
}
.content_wrap {
    position: relative;
}
.mh_c {
	min-height: calc(100vh - 51px);
}
.login_img {
    text-align: center;
    margin-bottom: 40px;
}
img {
    width: 300px;
}
input {
    display: block;
    width: 300px;
    height: 35px;
	margin: 15px auto;
    padding: 0 10px!important;
    -webkit-appearance: none;
}
button {
	margin-bottom: 10px!important;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.login_text p {
    text-align: center;
    font-size: 0.8rem;
}
.login_text span {
    padding: 0 0.6em;
}
input[type="password"] {
	width: 300px;
}
.error_ul {
	margin: 0 0 15px;
}
.error {
	width: 300px;
}

/*IEのみ*/
_:-ms-lang(x)::-ms-backdrop,
input {
	padding-top: 0.3em!important;
}

/*edgeのみ*/
@supports (-ms-ime-align:auto) {
	.mh_c {
		min-height: calc(100vh - 50px)!important;
	}
}

@media screen and (max-width: 768px) { 	
	/*IEのみ*/
	_:-ms-lang(x)::-ms-backdrop,
	.mh_c {
		min-height: calc(100vh - 50px)!important;
	}
	_:-ms-lang(x)::-ms-backdrop,
	.content_wrap {
		overflow: hidden;
	}
	
	/*edgeのみ*/
	@supports (-ms-ime-align:auto) {
		.content_wrap {
			overflow: hidden;
		}
	}

}


@media screen and (max-width: 480px) { 
	.content_wrap {
		padding: 10px;
		margin: 80px 0;
	}
	.content {
		position: absolute!important;
	}
}