.link ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.link li {
	margin-right: 1.5em;
}
.link li:last-child {
	margin-right: 0;
}
.link li a {
    font-weight: bold;
}

.joho {
    display: flex;
    margin: 76px 0;
}
.joho h2 {
    padding: 0;
}
.kaiin_joho {
    padding: 30px;
}
.kaiin_joho {
    width: 25%;
}
.kaiin_joho div {
    padding: 0 10px;
    margin-bottom: 150px;
}
.shiken_ceu {
    display: flex;
    padding: 30px;
}
.title {
    font-weight: bold;
    margin-bottom: 5px;
}
.shiken {
    padding-right: 30px;
}
.shiken {
    width: 30%;
}
.btn_wrap {
    padding: 0!important;
    margin: 0!important;
}
button {
	font-size: 13px!important;
	font-weight: normal!important;
}
.joho button {
    margin: 0!important;
    height: 40px;
    line-height: 40px;
    width: 220px;
}
.joho button:first-of-type {
    margin-bottom: 10px!important;
}
.shiken {
	border-right: 1px solid #ddd;
}
.shiken div {
    margin-bottom: 30px;
    padding: 0 10px;
}
.kaiin_joho div {
}
.ceu {
    padding-left: 30px;
    width: 100%;
}
.ceu .right {
    float: right;
}
.ceu h2 {
    float: left;
}
.ceu section{
    clear: both;
	margin-bottom: 30px;
}
.ceu section:last-of-type {
    margin-bottom: 0;
}
.ceu .btn_wrap {
    margin-top: 105px!important;
}
.ceu button:first-of-type {
    margin-right: 20px!important;
}

li {
    display: flex;
    justify-content: space-between;
	border-bottom: 1px solid #d2d2d2;
}
li:last-of-type {
	border: none;
}
.news button {
    width: 150px;
    height: 35px;
	line-height: 35px;
}


