button,
a {
	position: relative;
}
button {
	font-weight: bold!important;
}
.link ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.link li {
	margin-right: 1.5em;
	border: none;
	display: inline;
}
.link li:last-child {
	margin-right: 0;
}
.link li a {
    font-weight: bold;
}
.page_link {
    display: flex;
    justify-content: space-between;;
	flex-wrap: wrap;
}
.page_link:after{
	content:"";
	display: block;
	width: 16%;
}
.page_link li {
	height: 40px;
	width: 16%;
	border: 1px solid #669FCC;
	background: #669FCC;
	text-align: center;
	font-size: 13px;
	transition: 0.8s;
	font-family: inherit;
	border-radius: 3px;
	display: table;
	margin: 5px 0;
}
.page_link li:hover {
	color: #005699;
    background: #F9F9F9;
}
.page_link li a {
    position: relative;
    color: #fff;
    text-align: center;
    transition: 0.8s;
    display: table-cell;
    vertical-align: middle;
	font-weight: bold;
}
.page_link li a:after {
	font-family: "Font Awesome 5 Free";
	content: '\f107';
	font-weight: 900;
	display: block;
	line-height: 7px;
	font-size: 13px;
}
.page_link li a:hover {
    border-bottom: none;
	color: #669FCC;
}
.bg_white {
    padding: 40px;
}
.sbt_change:before {
	font-family: "Font Awesome 5 Free";
	content: "\f105";
	font-weight: 900;
	color: #005699;
	margin-right: 3px;
}
.sbt_change {
    font-size: 13px;
    font-weight: bold;
}
#kaiin_joho,#shiken,
#ceu,#news,#event,
#moshikomi,#shiharai,
#kaiin_contents,
#denshi_book,#buppan,
#kyujin_joho {
	padding-top: 140px;
    margin-top: -70px;
}
#kaiin_joho .user_name {
    border-bottom: 1px solid #757575;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 20px;
	color: #333;
}
table tr:last-of-type {
    border-bottom: 1px solid #d2d2d2;
}
th {
    padding-left: 60px;
    font-weight: normal;
}
td {
	padding: 30px 0;
}
#kaiin_joho .btn_wrap div {
	display: flex;
}
#kaiin_joho .btn_wrap button {
    margin-right: 20px!important;
}
#kaiin_joho .btn_wrap div:last-of-type button:last-child {
    margin-right: 0;
}
#kaiin_joho .btn_wrap button:last-of-type {
    margin-right: 0;
    margin-bottom: 0!important;
}
#kaiin_joho .btn_wrap {
    justify-content: flex-start;
}
.btn_wrap {
    justify-content: inherit;
    margin-bottom: 0;
    margin-top: 40px;
}
#kaiin_joho .btn_wrap button,
#shiken .btn_wrap button,
#ceu .btn_wrap button {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
	margin-right: 0;
}
.title {
	font-weight: bold;
	text-indent: -1em;
}
#shiken .cscs,
#shiken .nsca {
    padding-left: 1em;
}
.cscs {
    margin-bottom: 1em;
}
section {
    display: flex;
}
#shiken,
#ceu,
#moshikomi,
#shiharai {
    width: 49%;
}
#shiken,
#moshikomi,
#kaiin_contents,
#denshi_book  {
    margin-right: 23px;
}
.right {
    float: right;
}
#ceu .bg_white {
    padding-top: 20px;
	position: relative;
}
#shiken .btn_wrap,
#ceu .btn_wrap {
    justify-content: space-between;
}
#ceu .btn_wrap {
	position: absolute;
    bottom: 40px;
	width: calc(100% - 80px);
}
.list:first-child {
	padding-top: 0;
}
.list {
	border-bottom: 1px solid #d2d2d2;
	padding: 10px 0;
}
.list:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.list_text {
    display: inline-block;
    width: calc(100% - 165px);
    vertical-align: middle;
    margin-right: 1.5em;
}
#news button,
#event button,
#moshikomi button,
#shiharai button,
#denshi_book button,
#buppan button,
#kyujin_joho button {
    width: 140px;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
	display: inline-block;
}
.page {
    display: flex!important;
    justify-content: flex-end;
	margin-top: 5px;
	font-size: 13px;
}
.page button {
    width: auto!important;
    height: auto!important;
    line-height: inherit!important;
    border: none;
    background: none;
    color: #333;
	margin-right: 15px;
}
.page button:last-child {
	margin-right: 0;
}
.page p {
    font-weight: bold;
}
.page p a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    color: #005699;
    margin-right: 3px;
    font-size: 13px;
    margin-left: 5px;
}
.sub {
    display: flex;
}
.sub_1,
.sub_2 {
    width: 80px;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
}
.sub_1 {
    border: 1px solid #005699;
    color: #005699;
    margin-right: 1em;
}
.sub_2 {
    border: 1px solid #8a8a8a;
    color: #fff;
    background: #8a8a8a;
}
.text-danger {
    color: #b22222;
}
#moshikomi .list_text a,
#kyujin_joho .list_text a {
    color: #333;
}
#moshikomi .list_text a:hover,
#kyujin_joho .list_text a:hover {
    color: #005699;
}
#moshikomi .list_text a:hover:after {
    color: #005699;
}
#moshikomi .list_text a:after {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    font-weight: 900;
    color: #333;
    margin-right: 3px;
    font-size: 13px;
    margin-left: 5px;
}
#moshikomi .bg_white,
#shiharai .bg_white {
    padding: 20px;
}
#kaiin_contents,
#denshi_book,
#buppan {
    width: 33%;
}
#kaiin_contents .bg_white,
#denshi_book .bg_white,
#buppan .bg_white {
	padding: 20px;
}
#kaiin_contents button {
    width: 100%;
    font-weight: normal;
    height: 35px;
    line-height: 35px;
    font-size: 13px;
}
#kaiin_contents button {
    margin-bottom: 25px;
}

#kaiin_contents button:last-of-type {
    margin-bottom: 0;
}
#kaiin_contents .bg_white {
	display: table;
    width: 100%;
	padding: 20px 40px;
}
.kaiin_btn {
	display: table-cell;
    vertical-align: middle;
}
#denshi_book .bg_white,
#buppan .bg_white {
    position: relative;
}
#denshi_book button,
#buppan button {
    position: absolute;
    bottom: 045px;
    left: 50%;
    right: 50%;
    transform: translateY(50%) translateX(-50%);
}
figure img {
    width: 100%;
	margin-bottom: 10px;
}
#kyujin_joho .list_text {
    margin-right: 0;
}
#kyujin_joho .list_text a {
    border-bottom: 1px solid #333;
}
#kyujin_joho .list_text a:hover {
    border-bottom: 1px solid #005699;
}
#kyujin_joho .list_text:before {
	font-family: "Font Awesome 5 Free";
	content: "\f2d2";
	font-weight: 900;
	color: #333;
	font-size: 14px;
	margin-right: 5px;
}


@media screen and (max-width: 1000px){
	#kaiin_contents .bg_white {
		padding: 20px 3%;
	}
	#shiken button,
	#ceu button {
    	max-width: calc(50% - 5px);
	}
	#ceu .btn_wrap {
		right: 40px;
		left: 40px;
	}

}

@media screen and (max-width:960px) {
	#kaiin_joho .btn_wrap div {
		display: flex;
		margin: 0 auto;
	}
	#kaiin_joho .btn_wrap div:first-child {
		margin-bottom: 20px;
	}
	#kaiin_joho .btn_wrap div button:last-of-type {
		margin-right: 0;

	}
}

/*Œã‚Å•ÏX*/
@media screen and (max-width: 850px){
	.wrap {
		padding-top: 87px!important;
	}
}


@media screen and (max-width:768px) {
	section {
		display: block;
	}
	.bg_white {
		padding: 20px;
	}
	#shiken,#ceu,#moshikomi,
	#shiharai,#kaiin_contents,
	#denshi_book, #buppan {
		width: 100%;
	}
	#kaiin_joho > div {
		background-color: white;
		padding: 5px 10px 0px;
	}
	#kaiin_joho .user_name {
		color: #333;
		padding: 10px;
		border: none;
		font-size: 19px;
	}
	#kaiin_joho .btn_wrap button {
    margin: 0 auto!important;
    margin-bottom: 10px!important;
}
#kaiin_joho .btn_wrap {
    justify-content: space-evenly;
}
	th {
		padding-left: 10px;
	}
	td {
		padding: 0 30px;
		font-size: 14px;
	}
	table tr:last-of-type {
		border: none;
	}
	#kaiin_joho .btn_wrap {
		padding-bottom: 30px;
	}
	.list_text {
		width: 100%;
		padding-bottom: 5px;
		margin-right: 0;
	}
	#kaiin_contents .bg_white {
		padding: 70px;
	}
	#ceu .btn_wrap {
	    position: initial;
		width: 100%;
	}
	.page_link:after {
		width: 32%;
	}
	.page_link li {
		width: 32%;
	}
	#denshi_book .bg_white,
	#buppan .bg_white {
		padding: 20px 13%;
	}
	#shiken button, #ceu button {
		margin: 0;
	}
	#shiken .btn_wrap,
	#ceu .btn_wrap {
		justify-content: space-evenly;
		display: flex;
	}
}

@media screen and (max-width:480px){
	#kaiin_contents .bg_white {
		padding: 20px;
	}
	#kaiin_joho .btn_wrap button {
		width: calc(100% - 20px);

		margin: 0 auto!important;

	}
	.btn_wrap button:first-of-type {
		margin: 0;
	}
	.btn_wrap button:nth-of-type(2) {
		margin: 0;
	}
	#kaiin_joho .btn_wrap {
		display: block;
	}
	.btn_wrap div {
		display: block!important;
	}
	.btn_wrap div button {
		margin: 0 auto 20px!important;
	}
	.btn_wrap div:last-child button:last-child {
		margin-bottom: 0!important;
	}
	#denshi_book .bg_white,
	#buppan .bg_white {
		padding: 20px;
	}
}
