.wrap {
    padding-top: 60px;
}
.mh_c {
    min-height: calc(100vh - 125px);
}
@media screen and (max-width:768px) {
	.mh_c {
		min-height: calc(100vh - 115px);
	}
	/*ファイヤ―フォックス*/
	@-moz-document url-prefix() {
		.mh_c {
			min-height: calc(100vh - 116px)!important;
		}
	}
	/*IEのみ*/
	_:-ms-lang(x)::-ms-backdrop, .mh_c {
		min-height: calc(100vh - 115px)!important;
	}
	/*edgeのみ*/
	@supports (-ms-ime-align:auto) {
		.mh_c {
			min-height: calc(100vh - 115px)!important;
		}
	}
}