.wrap {
    padding-top: 40px;
}
.mh_c {
    min-height: calc(100vh - 125px);
}
.button {
    margin: 20px auto;
    width: 100%;
    height: 60px;
    font-size: 12px;
    line-height: 1.4;
}
.riyo,
.NSCA, 
.gakusei {
	margin-bottom: 0;
}

/*IEのみ*/
@media all and (-ms-high-contrast: none){
	.button {
		padding: 15px 0;
	}
}
	
@media screen and (max-width:768px) {
	.button {
		width: 300px;
		margin: 30px auto 10px auto;
	}
	.riyo,
	.NSCA, 
	.gakusei {
		margin-bottom: 80px;
	}
}
