.wrap {
    padding-top: 60px;
}
/*äwê∂èÿ*/
.file img {
    width: 300px;
	margin-bottom: 30px;
}
.file p {
    margin: 0;
}
.file img:last-of-type {
    margin-bottom: 0;
}

.shinki_toroku .bg_white {
    padding-bottom: 40px;
}


@media screen and (max-width: 768px){

}

