.wrap {
    padding-top: 60px;
}
.kaiin p {
    margin-bottom: 0;
}
.kihon_joho td div,
.oshirase td div {
    float: left;
    width: 50%;
}

@media screen and (max-width: 768px) {
	.shinki_toroku tr{
        padding: 1em 0;
    }
    .shinki_toroku .required {
        margin-left: 0;
    }
}








