@charset "UTF-8";

.text_wrap {
	font-weight: bold;
	margin-bottom: 30px;
	max-width: 600px;
}

.text_wrap p {
	font-size: 1.2em;
	color: #005699;
}

.text_wrap ul {
	background-color: #ecf2f6;
	padding: 15px 20px;
}

.text_wrap li {
	text-indent: -1em;
	padding-left: 1em;
	margin-bottom: 3px;
	word-break: normal;
}

.text_wrap li:last-child {
	margin-bottom: 0;
}

.content {
	margin-bottom: 30px;
}

.content .bold {
	font-weight: bold;
}

.content input {
	width: 100%;
	max-width: 600px;
}

@media screen and (max-width:768px) {

	.button {
		width: 200px;
	}
}
