.wrap {
    padding-top: 20px;
}
section {
	display: flex;
	margin: 20px 0 30px 0;
	justify-content: space-around;
}
section button {
	width: 350px!important;
	cursor: pointer;
}
.kome:before {
	content: "※";
	display: inline-block;
	text-indent: -1em;
}
.kome {
	padding-left: 1em;
	margin-bottom: 0.5em;
}
h3 {
	margin: 40px 0 20px 0; 
}
.web,
.yuso {
	padding: 0 20px;
}
.title {
	font-weight: bold;
	margin-bottom: 5px;
}
.num {
	background: #005699;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 25px;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
	margin-right: 3px;
}
.content {
	padding: 0 50px;
	margin-bottom: 30px;
}
.content:last-of-type {
	margin-bottom: 80px;
}
ul[type="circle"] {
	padding-left: 24px;
	margin-bottom: 20px;
}
ul[type="circle"] li {
	list-style: circle;
}
.price {
	margin-left: 2em;
}
.blue {
	color: #005699;
}
article p:first-of-type,
article p:nth-of-type(2) {
	margin-bottom: 20px;
}
sup {
	color: red;
	margin-right: 0.5em;
}
.pdf:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f1c1";
    color: #CC0000;
    display: inline-block;
    width: 1.2em;
    text-align: left;
}
.pdf {
	margin-top: 10px;
	display: inline-block;
}
.koza {
	margin-bottom: 10px;
}
.koza span {
	display: block;
}
.jyusho span{
	display: block;
	margin-top: 10px;
}

@media screen and (max-width:768px) {
	section {
		display: block;
	}
	section button:first-of-type {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 480px) {
	section button {
		width: 100%!important;
	}
	.web,
	.yuso {
		padding: 0;
	}
	.num {
		padding-left: 25px;
	}
	.title {
		padding-left: 28px;
		text-indent: -25px;
	}
	.content {
    padding: 0 10px;
	}
}

/*iPoneのみ*/
.iPhone .kome:before {
	text-indent: 0;
}
.iPhone .kome {
	text-indent: -1em;
}
.iPhone h3 {
	color: pink;
}

