.wrap {
    padding-top: 20px;
}
.mh_c {
    min-height: calc(100vh - 182px);
}
table {
	margin-top: 60px;
}
tr {
	border-top: 1px solid #005699;
}

@media screen and (max-width:768px) {
	.mh_c {
		min-height: calc(100vh - 115px);
	}
	table {
		margin-top: 0;
		margin-bottom: 60px;
	}
	tr {
		border-top: none;
	}
	.w_50 {
		width: 100%!important;
	}
	.btn_b {
		position: inherit!important;
	}
	
	/*ファイヤ―フォックス*/
	@-moz-document url-prefix() {
		.mh_c {
			min-height: calc(100vh - 116px)!important;
		}
	}
	
	/*IEのみ*/
	_:-ms-lang(x)::-ms-backdrop, .mh_c {
		min-height: calc(100vh - 115px)!important;
	}
	
	/*edgeのみ*/
	@supports (-ms-ime-align:auto) {
		.mh_c {
			min-height: calc(100vh - 115px)!important;
		}
	}
}
