.kaiin_sbt form {
	display: block;
}
article {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}
.button {
    border: 1px solid #005699;
    margin: 20px auto;
    width: 100%;
    height: 60px;
    font-size: 12px;
    line-height: 1.4;
}
.kaiin_sbt {
    margin-top: 0;
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
}
.bg_white {
    padding: 30px;
    margin-bottom: 70px;
}
.sbt {
    font-weight: bold;
	margin-bottom: 5px;
	padding: 0.25em 0.5em;
	border-left: solid 5px #005699;
}
#kaiin_sbt {
    text-indent: 1em;
}

@media screen and (max-width: 768px) {

}