.mh_c {
	min-height: calc(100vh - 182px);
}
.wrap {
    padding-top: 20px;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input {
    display: block;
    width: 300px;
    height: 35px;
	margin: 15px auto;
    border: 1px solid #333;
    padding: 0 10px!important;
    -webkit-appearance: none;
}
button {
	margin-bottom: 10px!important;
}
.error {
	margin: 0 auto 10px auto;
	width: 300px;
}
@media screen and (max-width: 768px) { 
	.mh_c {
		min-height: calc(100vh - 115px);
	}
	.content {
		position: inherit;
		transform: none;
		margin-top: 60px;;
	}
	.btn_b {
		position: inherit!important;
	}
	table {
		margin-bottom: 60px;
	}
	
	/*ファイヤ―フォックのみ*/
	@-moz-document url-prefix() {
	  .mh_c {
			min-height: calc(100vh - 116px)!important;
		}
	}
	/*IEのみ*/
	_:-ms-lang(x)::-ms-backdrop,
	.mh_c {
		min-height: calc(100vh - 115px)!important;
	}
	_:-ms-lang(x)::-ms-backdrop,
	.content_wrap {
		overflow: hidden;
	}
	/*edgeのみ*/
	@supports (-ms-ime-align:auto) {
		.mh_c {
			min-height: calc(100vh - 115px)!important;
		}
		.content_wrap {
			overflow: hidden;
		}
	}

}


@media screen and (max-width: 480px) { 
	.content_wrap {
		padding: 10px;
	}
}