@charset "utf-8";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

body {
	word-break: break-all;
	color: #333;
	font-family: "游ゴシック","メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "ＭＳ Ｐゴシック", sans-serif;
	-webkit-text-size-adjust: 100%;
	font-size: 14px;
	font-weight: 500;
	background: #f9f9f9;
	line-height: 1.4;
}

img {
	vertical-align: bottom;
}

li {
	list-style: none
}

a {
	text-decoration: none;
    color: #005699;
	cursor: pointer;
	transition: all 0.2s;
}

a:hover {
	opacity: 0.7;
}

a.link_blank {
	transition: all 0.2s;
}

a.link_blank i {
	vertical-align: top;
	margin-left: 1px;
	margin-right: 1px;
}

a.link_blank:hover {
	border-bottom: none;
	opacity: 0.7;
}

.kome {
	text-indent: -1em;
	padding-left: 1em;
}

.kome::before {
	content: "※";
}

.sp_only {
	display: none;
}

input {
	font-family: inherit;
}

input,
select {
    vertical-align: middle;
}

header {
    width: 100%;
    border-bottom: 1px solid #aaa;
	background: #fff;
}

.header_logo {
	padding: 15px;
	height: 74px;
}
.header_logo div {
    max-width: 1200px;
    margin: 0 auto;
}
.header_logo img {
	width: 150px;
}
.sp_bl {
    display: none;
}
.flex_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.wrap {
    padding: 175px 10px 60px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.wrap.before_login {
	padding-top: 50px;
	min-height: calc(100vh - 124px);
}

h1 {
	margin: 0;
	font-size: 25px;
	/*border-bottom: solid 2px #005699;*/
	margin-bottom: 30px;
	position: relative;
	font-weight: normal;
	padding-bottom: 2px;
}

/*h1:before {
	content: '';
	width: 100%;
	height: 1px;
	background-color: #005699;
	display: block;
	position: absolute;
	left: 0;
	bottom: -5px;
}*/

.top_text {
	margin: 35px 0;
}

h2 {
	vertical-align: middle;
	position: relative;
	line-height: 28px;
	margin-bottom: 10px;
	letter-spacing: 1px;
	font-weight: normal;
	font-size: 22px;
}

.h2_text {
	margin-bottom: 30px;
}

.text_center {
	text-align: center
}

.btn_wrap{
	display: flex;
	margin-bottom: 30px;
	justify-content: center;
}

.mb_10 {
    margin-bottom: 10px;
}

.mt_1{
	margin-top: 1em;
}

.mt_30 {
	margin-top: 30px;
}

.w_80 {
    width: 80%!important;
}

.w_20 {
	width: 20%!important;
}

.w_30 {
    width: 30%!important;
}

.w_50 {
    width: 50%!important;
}

.w_70 {
    width: 70%!important;
}

.w_250 {
    width: 250px!important;
}

.w_75 {
    width: 75px!important;
}


/*background-color*/
.bg_white {
    background: #fff;
    padding: 0 40px;
	border-radius: 3px;
}
.bg_gray {
	background: #ddd;
}

label {
	display: inline-block;
	margin-bottom: 5px;
	line-height: 1.4;
}

/*checkbox*/
input[type="checkbox"] {
	visibility: hidden;
	position: absolute;
}
.checkbox {
	padding-left: 25px;
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding: 2px 0 2px 25px;
	margin-bottom: 5px;
}
.checkbox:hover:before {
	border-color: #005699;
}
.checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
	background: #fff;
}

input[type="checkbox"] + .checkbox:after {
    opacity: 0;
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 5px;
    height: 10px;
    transform: rotate(40deg);
    border-bottom: 3px solid #005699;
    border-right: 3px solid #005699;
}

input[type="checkbox"]:checked + .checkbox:after {
	transition: all 0.4s;
	opacity: 1;
}


/*radio*/
input[type="radio"] {
	visibility: hidden;
	position: absolute;
}

input[type="radio"] + label {
	padding-left: 20px;
	position:relative;
	cursor: pointer;
	margin-right: 20px;
}

input[type="radio"] + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #999;
	border-radius: 50%;
	background: #fff;
}

input[type="radio"] + label::after {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 3px;
	width: 11px;
	height: 11px;
	background: #005699;
	border-radius: 50%;
	opacity: 0;
}

input[type="radio"]:checked + label::after {
	transition: all 0.4s;
	opacity: 1;
}

input[type="radio"] + label:hover:before {
	border: 1px solid #005699;
}

/*button*/
.btn_wrap button:not(:last-of-type) {
    margin-right: 50px;
}

.button {
	height: 50px;
	border: 1px solid #005699;
	color: #fff;
	line-height: 50px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	background: #005699;
	font-size: 18px;
	transition: background 0.4s,color 0.4s;
	font-family: inherit;
	border-radius: 3px;
	width: 100%;
	max-width: 300px;
}

.button:hover {
	color: #005699;
	cursor: pointer;
	background: #F9F9F9;
}

.btn_wrap button:not(:last-of-type) {
	margin-right: 50px;
}

.btn_center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.btn_b {
	position: absolute!important;
	bottom: 50px;
}

.btn_b_1 {
	left: 0;
	right: 0;
	margin: auto;
}

.btn_b_2 {
	width: calc(100% - 60px);
	justify-content: space-between;
}

.btn_b button {
	margin: 0;
}

button.clear_btn {
    background-color: #669fcc;
    border-color: #669fcc;
}

button.clear_btn:hover {
	background-color: #fff;
	border-color: #669fcc;
}

.btn_gray,
.back {
    background: #888;
    border: #888;
    border: 1px solid #888;
}

.btn_gray:hover,
.back:hover {
    color: #888!important;
    border: 1px solid #888;
}


/*table*/
table {
	width: 100%;
    border-collapse: collapse;
}
tr {
    border-bottom: 1px solid #d2d2d2;
}
table tr:last-of-type {
	border: none;
}
th {
	width: 35%;
	text-align: left;
}
td {
	width: 65%;
	padding: 40px 0;
}

select {
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid #A9A9A9;
	background: #fff;
	padding: 5px 25px 5px 5px;
	font-family: inherit;
	width: auto;
	height: 35px;
	line-height: 23px;
	position: relative;
}

select::-ms-expand {
	display: none;
}

.select_wrap:before {
	position: absolute;
	top: 16px;
	right: -5px;
	transform: translate(-160%, -20%);
	content: '';
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
	z-index: 1;
}

.select_wrap {
	position: relative;
	display: inline-block;
}

input {
	-webkit-appearance: none;
}

textarea {
	-webkit-appearance: none;
	border-radius: 0;
	border: 1px solid #A9A9A9;
	width: 100%;
	height: 100px;
	resize: none;
	padding: 0.5em;
	vertical-align: bottom;
	font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="email"] {
	width: 100%;
	height: 35px;
	padding: 5px;
	border-radius: 0;
	border: 1px solid #A9A9A9;
}

input.input_w_300 {
	display: block;
	width: 300px;
	height: 35px;
	margin: 0;
	padding: 0 10px!important;
}

input[type="number"] {
	padding-left: 5px;
}

/*定款　規定*/
.agreement_text {
	margin: 25px 0 10px;
}
.agreement {
	font-size: 12px;
	margin-bottom: 60px;
	background: #fff;
	padding: 40px;
	line-height: 1.6;
}
.agreement > div {
	margin-bottom: 40px;
	background-color: #FFF;
	height: 450px;
	overflow: auto;
	padding: 25px;
	border: 1px solid #8f8f8f;
}

.agreement > div:last-child {
    margin-bottom: 0;
}
.agreement .title {
	font-size: 14px;
	text-align: center;
	color: #005699;
	font-weight: bold;
	margin-bottom: 10px;
}
.agreement .chapter {
	font-size: 13px;
	margin-bottom: 5px;
	margin-top: 20px;
	font-weight: bold;
}

.agreement table {
	width: auto;
}

.agreement .teikan th {
	width: 6em;
	border-collapse: collapse;
	border: 1px solid #8f8f8f;
	padding: 5px;
	font-weight: normal;
}

.agreement .teikan td {
	width: 9em;
	border-collapse: collapse;
	border: 1px solid #8f8f8f;
	padding: 5px;
}

.agreement .teikan tr {
	border: none;
	padding: 1px 0;
}

.agreement .doi {
	text-align: center;
	margin: 10px 0;
	font-size: 15px;
	line-height: 36.5px;
	margin-top: 30px;
}
.agreement .doi .checkbox {
	line-height: 18px;
}
.agreement dd {
    margin-bottom: 1em;
}
/*会員種別*/

.kaiin_sbt form {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}

.kaiin_sbt section div {
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.kaiin_sbt section {
	background: #fff;
/* 	width: 30%; */
	width: 49%;
	padding: 30px;
}
.sbt_title {
	font-weight: bold;
	font-size: 16px;
}

.error {
    color: #C80003;
    font-weight: bold;
    margin-top: 5px;
	line-height: 15px;
}

footer {
	width: 100%;
	background: #777;
	height: 50px;
	overflow: hidden;
}

footer p {
	color: #fff;
	text-align: center;
	padding: 14px 0;
}

/*カレンダー*/
#datepicker div {
    display: block;
	width: 100%;
}

#datepicker tr {
    border: none;
	display: table-row;
}

#datepicker td {
    width: auto;
    padding: 0;
    border: 1px solid #eee;
}

#datepicker span:hover {
    cursor: pointer;
}

#datepicker {
    width: 100%;
	margin-top: 10px;
}
.ui-datepicker-inline {
    width: 100%;
	margin: 0 auto!important;
    padding: 30px!important;
    border-color: #005699!important;
}
.ui-datepicker td span,
.ui-datepicker td a {
    padding: 10px 0 30px!important;
    text-align: center!important;
}
.ui-datepicker-header {
    border: none!important;
    padding: 5px 0!important;
    border-radius: 0!important;
    background-color: inherit!important;
    width: 200px!important;
    margin: 0 auto 15px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0!important;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
	border: none!important;
	background: inherit!important;
}
.ui-datepicker th {
    padding: 15px 0!important;
    background: #ddd;
    border: 1px solid #eee!important;
}
#datepicker thead th:first-child {
    background-color: #ffd5fd!important;
}
#datepicker thead th:last-child {
    background-color: #A4ECFF!important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: none!important;
}
a.ui-state-default.ui-state-active.ui-state-hover {
    color: #fff;

    background: #005699!important;
}
.ui-state-active, .ui-widget-content .ui-state-active {
    background: #005699;
}
a.ui-state-default.ui-state-highlight.ui-state-hover {
    background: #fff!important;
	color: #333;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: #fff;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 2px;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    top: 5px;
}
.ui-datepicker .ui-datepicker-next-hover {
    right: 2px;
}
button[type="button"]:disabled {
    background: #b1b1b1;
    cursor: default;
    border: 1px solid #b1b1b1;
}
button[type="button"]:disabled:hover {
    background: #b1b1b1;
    color: #ffffff;
}

button[type="button"]:disabled:hover::after {
    background: #b1b1b1;
}

@media screen and (max-width: 768px){

	.pc_only {
		display: none;
	}

	.sp_only {
		display: block;
	}

	.sp_no {
		display: none;
	}

	.sp_bl {
		display: block;
	}

	.sp_flex {
		display: flex;
	}

	.header_logo {
	  padding: 10px;
	  height: 64px;
	}

	h1 {
		font-size: 20px;
		margin-bottom: 20px;
	}

	h2 {
		font-size: 18px;
	}

	.wrap.before_login {
	    padding-top: 30px;
	    min-height: calc(100vh - 114px);
	}

	.bg_white {
		padding: 10px;
		border-radius: 0;
	}
	.w_70 {
        width: 100%!important;
    }

	.back {
		margin-bottom: 20px!important;
	}

	input,
	select,
	textarea {
		font-size: 16px;
	}

	tr {
		font-size: 16px;
		border: none;
	}

    td {
		width: 100%;
		display: block;
		padding: 0 30px;
		font-size: 12px;
    }

    th {
		display: block;
		width: 100%;
		background: #eaeaea;
		height: 50px;
		padding-left: 10px;
		font-weight: normal;
	}

    .kaiin th p {
        background: none;
        color: #333;
    }

    .agreement > div {
        padding: 1em;
		height: 200px;
		margin-bottom: 20px;
    }

	.agreement {
		padding: 20px;
	}

	.agreement_text {
		font-size: 0.9em;
		margin: 0 0 10px;
	}

	.teikan th {
		color: #333;
		background: none;
		padding: 0;
		font-size: 11px;
		display: inline-table;
		height: auto;
		margin-bottom: 0;
	}

/*会員種別*/
	.kaiin_sbt form {
		display: block;
	}
	.kaiin_sbt section {
		width: 100%;
		margin-bottom: 50px;
	}
	.kaiin_sbt section:last-of-type {
		margin-bottom: 0;
	}


/*button*/
	.btn_wrap {
		flex-wrap: wrap;
	}

	.button {
		width: 80%;
		max-width: none;
		min-width: 300px;
	}

	.button:hover {
		color: #fff;
		background: #005699;
	}

	button.clear_btn:hover {
		background-color: #669fcc;
		border-color: #669fcc;
	}

	.btn_gray:hover,
	.back:hover {
		background: #888!important;
		color:#fff !important;
		border: 1px solid #888;
	}

	.btn_left {
		width: 300px;
	}

	.btn_b_2 {
		width: calc(100% - 20px);
	}

	.btn_b button {
		margin: 0 auto;
	}

	.btn_wrap button:not(:last-of-type) {
		margin: 0 0 20px;
	}

	.btn_wrap.clear_btn_wrap {
		min-width: 50%;
	}

	.checkbox:hover:before {
		border-color: #999;
	}

	footer p {
		font-size: 10px;
		padding: 17px 0;
	}

	/*カレンダー*/
	.ui-datepicker th {
		display: table-cell;
		width: auto;
	}

	#datepicker td {
		display: table-cell;
	}

}


@media screen and (max-width: 480px){

	/*カレンダー*/
	.ui-datepicker-inline {
		padding: 10px!important;
	}
	#datepicker {
		margin-top: 0;
	}

}



/*edgeのみ*/
@supports (-ms-ime-align:auto) {

}

/*IEのみ*/
@media all and (-ms-high-contrast: none) {
	body {
		font-family: 'メイリオ', Meiryo, sans-serif!important;
	}
	.mh_c {
		min-height: calc(100vh - 50px);
	}
	button:active,
	button:focus,
	button:active > span,
	button:focus > span {
		position:relative;
	}
}
