.content {
	padding-bottom: 30px;
}
.bd_no {
	border: none;
}
table {
	margin-top: 20px;
	margin-bottom: 5px;
}
.encho table {
	margin-top: 0;
}
tr {
	display: table-row;
	border: none;
}
th {
	padding: 10px;
	border: 1px solid #a2a2a2;
	background: #005699;
	color: #fff;
	width: auto;
	text-align: center;
}
td {
	width: auto;
	padding: 10px;
	border: 1px solid #a2a2a2;
}
td:nth-of-type(2),
td:nth-of-type(3)
td:last-child,
.jokyo td:nth-of-type(4),
.jokyo td:nth-of-type(6),
.shiken td:nth-of-type(5){
	text-align: center;
}
.shiken td:nth-of-type(1),
.encho td:nth-of-type(1) {
	width: 20%;
}
.shiken td:nth-of-type(2),
.shiken td:nth-of-type(3),
.encho td:nth-of-type(2) {
	width: 14%;
}
.shiken td:nth-of-type(5) {
	width: 15%;
}
.encho td:nth-of-type(3) {
    width: 13%;
}
table .blue {
		margin-top: 1em;
}
table .mb_10 {
	display: block;
}
.encho ul li {
	padding-left: 1em;
}
.encho ul li:before {
	content: "・";
	display: inline-block;
	text-indent: -1em;
}
.kome {
	padding-left: 1em;
}
.kome:before {
	content: "※";
	display: inline-block;
	text-indent: -1em;
}
.blue {
	display: block;
	color: #005699;
}
a.blue {
	display: inline;
}
a.blue:hover {
	text-decoration: underline;
}
.cancel {
	background: red;
	border: 1px solid red;
}
.shiken .cancel {
	margin-top: 10px!important;
}
.cancel:hover {
	color: red;
}
.button {
	margin-top: 0!important;
	font-size: 13px;
	width: auto!important;
    margin: 0;
    line-height: unset!important;
    padding: 5px!important;
    display: inline-block;
    height: auto;
}
.irai,
.kessai {
	width: 103px!important;
}
.text {
	margin: 0;
	margin-top: 15px
}

@media screen and (max-width: 768px){
	.button {
		width: 200px!important;
		height: 40px;
	}
	table {
		width: 100%;
		margin-top: 1em;
	}
	thead {
		display: none;
	}
	tr {
		width: 100%;
	}
	td {
		display: block;
		text-align: left;
		width: 100%!important;
		height: auto;
	}
	td:first-child {
		background: #005699;
		color: #fff;
		font-weight: bold;
		text-align: center;
		border: none;
	}
	td:before {
		content: attr(data-label);
		font-weight: bold;
		display: block;
		margin-bottom: 5px;
	}
	.jokyo td:nth-child(4),
	.jokyo td:nth-child(6),
	.shiken td:nth-child(5),
	.encho td:nth-child(5) {
		text-align: center!important;
	}
	.jokyo td:nth-child(4):before,
	.jokyo td:nth-child(6):before,
	.shiken td:nth-child(5):before,
	.encho td:nth-child(5):before {
		text-align: left;
	}
	td:nth-of-type(2),
	td:nth-of-type(3){
		text-align: left;
	}
	.shiken .cancel {
		margin-top: 0;
	}
	.irai {
		margin-right: 1em;
	}
	.shiharai {
		height: 35px!important;
		width: 200px!important;
	}
}
@media screen and (max-width: 458px){
	.irai {
		margin-right: 0;
	}
}
@media screen and (max-width: 480px){
	.text {
		width: 100%;
		margin: 1em 0;
	}
	table {
		margin-top: 1em;
	}
	.shiharai {
		margin: 0 auto;
		display: block;
	}
	.btn_wrap button:first-child {
		margin-bottom: 10px;
	}
}

@media all and (-ms-high-contrast: none) {
	button {
		height: 31px !important;
		line-height: 24px!important;
	}
}
